<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather</title>
    <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="./css/bootstrap.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/app.js"  defer></script>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    
    <p class="main-text">Use this site to get your weather</p>

    <form action="">
      <input type="text" name="address" placeholder="address">
      <button type="submit">Search</button>
    </form>

    <p class="error-message">
      
    </p>
    <p class="message"></p>
    </div>
    {{>footer}}
  </body>
</html>
